ALMA_API_KEY='YOUR_ALMA_API_KEY'
NODB=1
SUPERVISOR_ON='true'
SUBJECT_HEADING_REMEDIATION_SET_ID="YOUR_SET_ID"
FLOOR_LOCATION_SPREADSHEET_ID="your_spreadsheet_id"
GOOGLE_API_CREDENTIALS="your_api_credentials_json_string_for_floor_location_spreadsheet"
