.local
.solargraph.yml
.idea
.cache
.irb_history
.byebug_history
.bash_history
.env
.bundle
.gem
*.html

umich_catalog_indexing/debug*
umich_catalog_indexing/.m2
umich_catalog_indexing/.ssh/*
umich_catalog_indexing/coverage/

umich_catalog_indexing/lib/translation_maps/hlb.json.gz
umich_catalog_indexing/lib/translation_maps/umich/libLocInfo.yaml
umich_catalog_indexing/lib/translation_maps/umich/subject_heading_remediation.json

umich_catalog_indexing/scratch/*
!umich_catalog_indexing/scratch/.keep

umich_catalog_indexing/examples/*.xml
umich_catalog_indexing/examples/*/*.xml
umich_catalog_indexing/examples/*.tar.gz
umich_catalog_indexing/examples/*/*.tar.gz
umich_catalog_indexing/examples/*.json
umich_catalog_indexing/examples/*/*.json

/sftp/ssh/*
!/sftp/ssh/.keep
/sftp/search_daily_bibs/*.xml
/sftp/search_daily_bibs/*.tar.gz
/sftp/search_daily_bibs/*.json.gz
!sftp/search_daily_bibs/zephir_short.json.gz
!sftp/search_daily_bibs/sample.tar.gz
!sftp/search_daily_bibs/birds_2022021017_21131448650006381_new.tar.gz

support_dbs/scratch/*
!support_dbs/scratch/.keep

biblio/biblio.zip

overlap/*.tsv

#this is so github actions doesn't try to add all the gems to the repo when updating a translation map
vendor/
